package reports

templ JobHours(division, displayby, date string) {
    <div class="flex flex-col p-4">
        <div id="params">
            <input type="hidden" id="division" name="division" value={ division } />
            <input type="hidden" id="wedate" name="wedate" value={ date } />
            <input type="hidden" id="displayby" name="displayby" value={ displayby } hx-trigger="load" hx-get="/vp/hours/" hx-include="#params" hx-target="#report" />
        </div>
        <div class="flex items-start" class="p-4">
            <label for="wedate">Week Ending: </label>
            <input type="date" name="wedate" hx-get="/cmp/params/" hx-target="#wedate" hx-swap="outerHTML" value={ date } step="7" />
        </div>
        <div class="flex">
            <button type="button" class="p-4" hx-get="/cmp/params/" name="displayby" value="job" hx-target="#displayby" hx-swap="outerHTML">By Job</button>
            <button type="button" class="p-4" hx-get="/cmp/params/" name="displayby" value="employee" hx-target="#displayby" hx-swap="outerHTML">By Employee</button>
        </div>
        <div id="report" class="max-h-full overflow-y-scroll">
        </div>
    </div>
}