package reports

import(
    "github.com/sgallaghe1541/epilogue/views/layouts"
)
templ EmployeeHours(division, displayby, date string) {
    @layouts.Base() {
    <div id="params">
        <input type="hidden" name="division" value={ division } />
        <input type="hidden" id="displayby" name="displayby" value={ displayby } hx-trigger="load" hx-get="/vp/hours/" hx-include="#params" hx-target="#report" />
        <div class="flex items-start">
            <label for="wedate">Week Ending: </label>
            <input type="date" name="wedate" hx-get="/vp/hours/" hx-include="#params" hx-target="#report" hx-swap="innerHTML" id="wedate" value={ date } step="7" />
        </div>
        <div>
            <button type="button" hx-get="/cmp/display/" name="display" value="job" hx-target="#displayby" hx-swap="outerHTML">By Job</button>
            <button type="button" hx-get="/cmp/display/" name="display" value="employee" hx-target="#displayby" hx-swap="outerHTML">By Employee</button>
        </div>
    </div>
    <div id="report">
    </div>
    }
}