package reports

import (
  "github.com/sgallaghe1541/epilogue/internal/db"
  "github.com/sgallaghe1541/epilogue/views/components"
)

templ ListReports(reports []db.EpilogueReport) {
    <div class="flex flex-row w-full m-4 p-2 rounded-md max-h-full max-w-full overflow-clip bg-stone-100 shadow-sm">
      <div class="flex flex-col w-fit pr-4 pl-2">
        <p class="text-3xl font-bold">Reports</p>
        <ul class="list-none">
          for _, report := range reports {
            <li><p hx-get={ report.URL } hx-target="#report" class="text-blue-900 text-xl font-semibold no-underline hover:cursor-pointer hover:underline transition-all">{ report.Name }</p></li>
          }
        </ul>
      </div>
      <div id="report" class="flex max-h-full rounded-md flex-col grow">
      </div>
    </div>
}

templ Report(date string, report db.EpilogueReport, params []db.ReportParameter) {
  <div id="title" class="flex w-full items-center justify-center bg-stone-300">
    <p class="text-2xl font-bold">{ report.Name }</p>
  </div>
  <div class="flex flex-row w-full">
    <div id="params" class="flex flex-col p-2 space-y-2">
      <p class="text-xl font-bold">Parameters</p>
      for _, param := range params {
          if param.Type == "date" {
            @components.DateParam(date, param)
          }
      }
      <button class="bg-yellow-200 text-stone-700 rounded-md hover:bg-stone-700 hover:text-yellow-300 transition-all" hx-target="#data" hx-get={ report.VPURL() } hx-include="#params">Run Report</button>
      <button class="bg-yellow-200 text-stone-700 rounded-md hover:bg-stone-700 hover:text-yellow-300 transition-all">Excel</button>
    </div>
    <div id="data" class="flex-1 overflow-y-scroll">
    </div>
  </div>
}