package layouts

templ Base() {
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8"></meta>
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"></meta>
      <script src="/static/js/htmx.min.js"></script>
      <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
      <link href="/static/css/styles.css" rel="stylesheet"/>
    </head>
    <body hx-boost="true">
      <div class="flex flex-col">
        @Header()
          <div class="flex flex-row h-[calc(100vh-theme(space.32))] max-h-[calc(100vh-theme(space.32))]">
          @SideBar()
          { children... }
          </div>
        <div class="flex h-8 bg-yellow-300">
        </div>
        </div>
    </body>
    </html>
}

templ Header() {
    <div class="flex h-24 w-screen bg-stone-50 flex-row items-center shadow-sm">
      <a href="/"><img class="flex h-24" src="/static/images/logo.jpg" /></a>
      <div class="flex grow flex-col">
        <div class="flex flex-row-reverse items-center">
          <a class="p-4" href="/reports/employeehours/?division=grading">Grading</a>
          <a class="p-4" href="/reports/employeehours/division=paving">Paving</a>
          <a class="p-4" href="/reports/employeehours/division=bridge">Bridge</a>
        </div>
        <div class="flex flex-row items-end">
          <a class="p-4" href="/reports/">Reports</a>
        </div>
      </div>
    </div>
}

templ SideBar() {
    <div class="flex shrink-0 w-48 bg-stone-700 shadow-sm">
    </div>
}
