package layouts

import(
    "github.com/sgallaghe1541/epilogue/package/viewpoint"
    "github.com/sgallaghe1541/epilogue/views/components"
)

templ DivisionLanding(dates [3]string, jobs []viewpoint.JobTotalHours) {
    @Base() {
        @components.HoursByJob(dates, jobs)
    }
}

templ Home() {
    @Base() {
        <a href="/vp/grading">Grading</a>
        <a href="/vp/paving">Paving</a>
        <a href="/vp/bridge">Bridge</a>
    }
}