package layouts

templ Home() {
    @Base() {
        <a href="/reports/employeehours/?division=grading">Grading</a>
        <a href="/reports/employeehours/division=paving">Paving</a>
        <a href="/reports/employeehours/division=bridge">Bridge</a>
    }
}