package layouts

import(
    "fmt"

    "github.com/sgallaghe1541/epilogue/package/viewpoint"
    "github.com/sgallaghe1541/epilogue/views/components"
)

templ DivisionLanding(jobs []viewpoint.JobTotalHours) {
    @Base() {
        @components.JobTotalHoursTable() {
            for _, job := range jobs {
                @components.JobTotalHoursRow(job.Job, fmt.Sprintf("%.2f", job.Hours))
            }
        }
    }
}

templ Home() {
    @Base() {
        <a href="/grading">Grading</a>
    }
}