package components

templ JobLink(num, description string) {
    <div>
    <a href="/">{ num } -- { description }</a>
    </div>
}

templ JobTotalHoursTable() {
    <div>
        <table>
            <tr>
                <th>Job</th>
                <th>Hours</th>
            </tr>
            { children... }
        </table>
    </div>
}

templ JobTotalHoursRow(job, hours string) {
    <tr>
        <td>{ job }</td>
        <td>{ hours }</td>
    </tr>
}