package layouts

import (
  "github.com/sgallaghe1541/epilogue/internal/db"
)

templ SideBar(icons []*db.Icon) {
    <div class="col-start-1 col-span-1 row-start-1 row-span-3 bg-stone-900 shadow-sm z-10 p-2">
      for _, icon := range icons {
        @SideBarIcon(icon.URL, icon.ToolTip, IconSVG(icon.Paths))
      }
    </div>
}

templ SideBarIcon(link, tooltip string, svg templ.Component) {
    <div hx-get={ link } hx-target="#contents" hx-push-url="true" class="relative flex items-center justify-center 
    w-fit max-w-fit m-2 rounded-full bg-stone-700 group
   hover:bg-yellow-300 hover:rounded-3xl cursor-pointer">
      @svg
      <span class="absolute w-auto p-2 m-2 min-w-max left-20 rounded-md shadow-md transition-all text-stone-50 bg-stone-700 scale-0 group-hover:scale-100">{ tooltip }</span>
    </div>
}

templ IconSVG(paths []string) {
    <svg fill="none" viewBox="0 0 24 24" stroke-width="1" class="size-8 m-4 stroke-yellow-300 fill-none group-hover:stroke-stone-700" xmlns="http://www.w3.org/2000/svg">
        for _, path := range paths {
            <path stroke-linecap="round" stroke-linejoin="round" d={ path } />
        }
    </svg>
}