package timeentry

templ TimeEntryLinks() {
    <div class="flex flex-col w-fit m-4 p-2 rounded-md bg-stone-100 shadow-sm">
      <p class="text-2xl font-bold">Time Entry</p>
      <ul class="list-none">
        <li><p class="text-blue-900 font-semibold no-underline hover:cursor-pointer hover:font-bold hover:underline transition-all">Enter Time</p></li>
      </ul>
    </div>
}