package timeentry

import (
    "fmt"
    "time"

    "github.com/sgallaghe1541/epilogue/internal/db"
)

templ SelectList(item SelectOption) {
    <option value={ item.SelectValue() }>{ item.SelectString() }</option>
}

templ DayofWeek(date time.Time) {
    if date.IsZero() {
        <label for="dayofweek">Day:</label>
        <input type="text" id="dayofweek" name="dayofweek" disabled>
    } else {
        <label for="dayofweek">Day:</label>
        <input type="text" id="dayofweek" name="dayofweek" value={ date.Weekday().String() } disabled>
    }
}

templ JobStateCertified(job *db.Job) {
    if job != nil {
        <label for="state">State:</label>
        <input type="text" id="state" name="state" value={ job.State } disabled>
        <label for="certified">Certified:</label>
        <input type="text" id="certified" name="certified" value={ job.Certified } disabled>
    } else {
        <label for="state">State:</label>
        <input type="text" id="state" name="state" disabled>
        <label for="certified">Certified:</label>
        <input type="text" id="certified" name="certified" disabled>
    }
}

templ Phases(phases []string) {
    if phases == nil {
      for i := 1; i < 6; i++ {
        if i == 1 {
          <select _={ fmt.Sprintf(`on change if my value is not empty send phase%dActive to #employeeDetail then remove @disabled from next <select/> within #phases else send phase%dInactive to #employeeDetail then send clearPhase to the next <select/> within #phases end on clearPhase set my value to empty add @disabled to me send phase%dInactive to #employeeDetail then send clearPhase to the next <select/> within #phases end`, i, i, i) }
            id={ fmt.Sprintf("phase%d", i) } name={ fmt.Sprintf("phase%d", i) } hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="click once" hx-include="previous #job">
            <option value=""></option>
          </select>
        } else {
          <select _={ fmt.Sprintf(`on change if my value is not empty send phase%dActive to #employeeDetail then remove @disabled from next <select/> within #phases else send phase%dInactive to #employeeDetail then send clearPhase to the next <select/> within #phases end on clearPhase set my value to empty add @disabled to me send phase%dInactive to #employeeDetail then send clearPhase to the next <select/> within #phases end`, i, i, i) }
            id={ fmt.Sprintf("phase%d", i) } name={ fmt.Sprintf("phase%d", i) } hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="click once" hx-include="previous #job" disabled>
            <option value=""></option>
          </select>
        }
      }
    } else {
      for i := 1; i < 6; i++ {
        if len(phases) >= i {
          <select _={ fmt.Sprintf(`on change if my value is not empty send phase%dActive to #employeeDetail then remove @disabled from next <select/> within #phases else send phase%dInactive to #employeeDetail then send clearPhase to the next <select/> within #phases end on clearPhase set my value to empty add @disabled to me send phase%dInactive to #employeeDetail then send clearPhase to the next <select/> within #phases end`, i, i, i) }
            id={ fmt.Sprintf("phase%d", i) } name={ fmt.Sprintf("phase%d", i) } hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="click once" hx-include="previous #job">
            <option value={ phases[i-1] }>{ phases[i-1] }</option>
          </select>
        } else {
          <select _={ fmt.Sprintf(`on change if my value is not empty send phase%dActive to #employeeDetail then remove @disabled from next <select/> within #phases else send phase%dInactive to #employeeDetail then send clearPhase to the next <select/> within #phases end on clearPhase set my value to empty add @disabled to me send phase%dInactive to #employeeDetail then send clearPhase to the next <select/> within #phases end`, i, i, i) }
            id={ fmt.Sprintf("phase%d", i) } name={ fmt.Sprintf("phase%d", i) } hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="click once" hx-include="previous #job" disabled>
            <option value=""></option>
          </select>
        }
      }
    }
}

templ Employees(employees [][]string) {
  if len(employees) != 0 {
    <input _="on employeeAdded from <body/> increment my value end"
      type="hidden" id="employeecount" name="employeecount" value={ fmt.Sprintf("%d",len(employees)) }>
    for i, employee := range employees {
      @EmployeeRow(employee, i)
    }
  } else {
    <input _="on employeeAdded from <body/> increment my value end"
      type="hidden" id="employeecount" name="employeecount" value="0">
  }
  <button type="button" hx-get="/tc/addemployeerow" hx-swap="beforebegin" hx-include="#employeecount">Add Employee</button>
}

templ EmployeeRow(employeeHours []string, count int) {
  if len(employeeHours) == 0 {
    <div>
      <select id={ fmt.Sprintf("employee%d", count) } name={ fmt.Sprintf("employee%d", count) } hx-get="tc/employeeselect" hx-swap="beforeend" hx-trigger="load" hx-params="none">
        <option value=""></option>
      </select>
      // <select id={ fmt.Sprintf("employee%dearn", count) } name={ fmt.Sprintf("employee%dearn", count) } hx-get"tc/earncode" hx-swap="beforend" hx-trigger="load">
      //   <option value=""></option>
      // </select>
      // <select _="on certifiedJobSelected remove @disabled from me"
      //   id={ fmt.Sprintf("employee%dclass", count) } name={ fmt.Sprintf("employee%dclass", count) } hx-get="tc/classes" hx-swap="beforend" hx-trigger="jobSelected from:body">
      // </select>
      for i := 1; i < 6; i++ {
        <input _={ fmt.Sprintf("on phase%dActive from #employeeDetail remove @disabled from me end on phase%dInactive from #employeeDetail set my value to empty then add @disabled to me", i, i) } type="number" id={ fmt.Sprintf("employee%dhours%d", count, i) } name={ fmt.Sprintf("employee%dhours%d", count, i) } max="14" step=".50" disabled>
      }
    </div>
  } else {
    <div>
      <select id={ fmt.Sprintf("employee%d", count) } name={ fmt.Sprintf("employee%d", count) } hx-get="tc/employeeselect" hx-swap="beforeend" hx-trigger="load">
        <option value=""></option>
      </select>
      // <select id={ fmt.Sprintf("employee%dearn", count) } name={ fmt.Sprintf("employee%dearn", count) } hx-get"tc/earncode" hx-swap="beforend" hx-trigger="load">
      //   <option value=""></option>
      // </select>
      // <select _="on certifiedJobSelected remove @disabled from me"
      //   id={ fmt.Sprintf("employee%dclass", count) } name={ fmt.Sprintf("employee%dclass", count) } hx-get="tc/classes" hx-swap="beforend" hx-trigger="jobSelected from:body">
      // </select>
      for i := 1; i < 6; i++ {
        <input _="on load"
          type="number" id={ fmt.Sprintf("employee%dhours%d", count, i) } name={ fmt.Sprintf("employee%dhours%d", count, i) } max="14" step=".50">
      }
    </div>
  }
}

templ Equipment(equipment [][]string) {
  if len(equipment) != 0 {
    <input type="hidden" id="equipmentcount" name="equipmentcount" value={ fmt.Sprintf("%d",len(equipment)) }>
  } else {
    <input type="hidden" id="equipmentcount" name="equipmentcount" value="0">
  }
  <button type="button" hx-get="views/addequipmentrow" hx-swap="beforebegin" hx-include="#equipmentcount">Add Equipment</button>
}

templ TimeCardForm(header *TimeCardHeaderForm, detail *TimeCardDetailForm) {
    // header.job and job have to be the same otherwise this breaks...
    <form>
      <div id="header">
      <div hx-get="/tc/jobselect" hx-swap="beforeend" hx-target="#job" hx-trigger="load once"></div>
        if !header.WorkDate.IsZero() {
            <label for="workdate">Date:</label>
            <input type="date" id="workdate" name="workdate" value={ header.WorkDate.Format("2006-01-02") } _="on input send dateSelected to #dayofweek-div">
        } else {
            <label for="workdate">Date:</label>
            <input type="date" id="workdate" name="workdate" value="" _="on input send dateSelected to #dayofweek-div">
        }
        <div id="dayofweek-div" name="dayofweek-div" hx-get="/utils/weekday" hx-include="#workdate" hx-trigger="dateSelected">
          @DayofWeek(header.WorkDate)
        </div>

        if header.Job != nil {
            <label for="job">Job:</label>
            <select _="on change send jobSelected to #phases then if my value is not empty send getInfo to me"
              id="job" name="job" hx-get="/tc/jobinfo" hx-target="#jobinfo" hx-trigger="getInfo">
              <option value={ header.Job.SelectValue() } selected>{ header.Job.SelectString() }</option>
            </select>
        } else {
            <label for="job">Job:</label>
            <select _="on change send jobSelected to #phases then if my value is not empty send getInfo to me"
              id="job" name="job" hx-get="/tc/jobinfo" hx-target="#jobinfo">
            <option value="" selected></option>
            </select>
        }
        <div id="jobinfo" name="jobinfo">
          @JobStateCertified(header.Job)
        </div>
      </div>

      <div id="phases" hx-get="/tc/clearphases" hx-swap="innerHTML" hx-trigger="jobSelected">
        @Phases(detail.Phases)
      </div>

      <div id="employeeDetail">
        @Employees(detail.Employees)
      </div>

      <div id="equipmentDetail">
        @Equipment(detail.Equipment)
      </div>
    </form>
}