package timeentry

import (
    "fmt"
    "time"

    "github.com/sgallaghe1541/epilogue/internal/db"
)

const (
	phaseScript = `
		on change or load
			if my value is not empty send phase%dActive to #hours 
				if next <select/> within #phases != null remove @disabled from next <select/> end
			else send phase%dInactive to #hours
				if next <select/> within #phases != null send clearPhase to the next <select/> end
		end 
		on clearPhase set my value to '' add @disabled to me then set @disabled to 'disabled' then send phase%dInactive to #hours
			if next <select/> within #phases != null send clearPhase to the next <select/> end
		end
	`
	phaseCountScript = `
		on phase1Active from #hours or phase2Active from #hours or phase3Active from #hours or phase4Active from #hours or phase5Active from #hours or phase5Inactive from #hours
			set :count to 0
			set :allPhases to <select/> in #phases
			for p in :allPhases
				if p's value is not '' increment :count by 1
			end
			set my value to :count
		end
	`
	employeeHoursScript = `
		on phase%dActive from #hours set @phase-selected to 'y' then if @employee-selected == 'y' remove @disabled from me end 
		on phase%dInactive from #hours set my value to null then add @disabled to me then set @disabled to 'disabled' end
		on jobSelected from #phases 
			set my value to null 
			add @disabled to me 
			set @disabled to 'disabled' 
			set @phase-selected to 'n'
		end
		on employeeSelected from #hours 
			if @phase-selected == 'y' and @employee-selected == 'y'
				remove @disabled from me
			end
		end
	`
	equipmentHoursScript = `
		on phase%dActive from #hours set @phase-selected to 'y' then if @equipment-selected == 'y' remove @disabled from me end 
		on phase%dInactive from #hours set my value to null then add @disabled to me then set @disabled to 'disabled' end
		on jobSelected from #phases 
			set my value to null
			add @disabled to me 
			set @disabled to 'disabled' 
			set @phase-selected to 'n'
		end
		on equipmentSelected from #hours 
			if @phase-selected == 'y' and @equipment-selected == 'y'
				remove @disabled from me
			end
		end
	`
	employeeSelectScript = `
		on change 
			if my value is not empty
				set inputs to [<input/> in closest <div/>, <select/> in closest <div/>]
				for i in inputs 
					set i's @employee-selected to 'y'
          send employeeSelected to i
				end
			else 
				set inputs to [<input/> in closest <div/>, <select/> in closest <div/>]
				for i in inputs 
					set i's @employee-selected to 'n'
          send employeeSelected to i
				end
			end
		end 
	`
	equipmentSelectScript = `
		on change 
			if my value is not empty
				set inputs to <input/> in closest <div/>
				for i in inputs 
					set i's @equipment-selected to 'y'
          send equipmentSelected to i
				end
      else
        set inputs to <input/> in closest <div/>
				for i in inputs 
					set i's @equipment-selected to 'n'
          send equipmentSelected to i
				end
			end
		end 
	`
	jobCertifiedScript = `
		on load 
			if my value == 'Y'
				send certifiedJobSelected to #employeeDetail
			else
				send nonCertifiedJobSelected to #employeeDetail
			end
		end
	`
	employeeClassScript = `
		on certifiedJobSelected from #employeeDetail set @certified-selected to 'y' 
			if @employee-selected == 'y' 
        remove @disabled from me 
        send getClasses to me
      end 
		end
		on nonCertifiedJobSelected from #employeeDetail 
      set @certified-selected to 'n' 
      set @disabled to 'disabled' 
      set my value to ''
    end
		on employeeSelected 
			if @certified-selected == 'y' and @employee-selected == 'y' 
				remove @disabled from me
				send getClasses to me
			else 
				set @disabled to 'disabled'
			end
		end
	`
  employeeEarnScript = `
    on nonCertifiedJobSelected from #employeeDetail or certifiedJobSelected from #employeeDetail set @job-selected to 'y'
      if @employee-selected == 'y'
        remove @disabled from me
        send getEarnCodes to me
    end
		on employeeSelected 
			if @job-selected == 'y' and @employee-selected == 'y' 
				remove @disabled from me
				send getEarnCodes to me
			else 
        set my value to ''
				set @disabled to 'disabled'
			end
		end
	`
)

templ SelectList(item SelectOption) {
    <option value={ item.SelectValue() }>{ item.SelectString() }</option>
}

templ BlankOption() {
    <option value=""></option>
}

templ DayofWeek(date time.Time) {
    if !date.IsZero() {
      <label for="dayofweek" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">Day</label>
      <input type="text" id="dayofweek" class="rounded-md border-2 grid border-stone-300 text-lg p-1 bg-stone-100 w-full" name="dayofweek" value={ date.Weekday().String() } disabled>
    } else {
      <label for="dayofweek" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">Day</label>
      <input type="text" id="dayofweek" class="rounded-md border-2 grid border-stone-300 text-lg p-1 bg-stone-100 w-full" name="dayofweek" value="" disabled>
    }
}

templ JobStateCertified(job *db.Job) {
    if job != nil {
      <input type="hidden" id="certified" name="certified" value={ job.Certified }>
      <input type="hidden" id="state" name="state" value={ job.State }>
      <div class="col-start-1 col-span-2 row-start-1 row-span-1 grid grid-cols-subgrid p-1 m-1">
        <label for="statedisplay" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">State</label>
        <input type="text" id="statedisplay" name="statedisplay" class="p-1 bg-stone-100 w-full text-lg rounded-md text-center" value={ job.State } disabled>
      </div>
      <div class="col-start-1 col-span-2 row-start-2 row-span-2 grid grid-cols-subgrid p-1 m-1">
        <label for="certifieddisplay" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">Certified</label>
        <input _={ jobCertifiedScript } type="text" id="certifieddisplay" class="p-1 bg-stone-100 w-full text-lg rounded-md text-center" name="certifieddisplay" value={ job.Certified } disabled>
      </div>
    } else {
      <input type="hidden" id="certified" name="certified" value="">
      <input type="hidden" id="state" name="state" value="">
      <div class="col-start-1 col-span-2 row-start-1 row-span-1 grid grid-cols-subgrid p-1 m-1">
        <label for="statedisplay" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">State</label>
        <input type="text" id="statedisplay" name="statedisplay" class="p-1 bg-stone-100 w-full text-lg rounded-md text-center" value="" disabled>
      </div>
      <div class="col-start-1 col-span-2 row-start-2 row-span-2 grid grid-cols-subgrid p-1 m-1">
        <label for="certifieddisplay" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">Certified</label>
        <input _={ jobCertifiedScript } type="text" id="certifieddisplay" class="p-1 bg-stone-100 w-full text-lg rounded-md text-center" name="certifieddisplay" value="" disabled>
      </div>
    }
}

templ Phases(phases map[int]string) {
    <input _={ phaseCountScript } type="hidden" id="phasecount" name="phasecount" value={ fmt.Sprintf("%d", len(phases)) }>
    if len(phases) != 0 {
      for i := 1; i < 6; i++ {
        if len(phases) >= i {
          <select _={ fmt.Sprintf(phaseScript, i, i, i) }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            id={ fmt.Sprintf("phase-%d", i) } name={ fmt.Sprintf("phase-%d", i) } hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="load" hx-include="previous #job">
            <option value={ phases[i-1] }>{ phases[i-1] }</option>
          </select>
        } else if i == 1 {
          <select _={ fmt.Sprintf(phaseScript, i, i, i) }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            id={ fmt.Sprintf("phase-%d", i) } name={ fmt.Sprintf("phase-%d", i) } hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="load" hx-include="previous #job">
            <option value=""></option>
          </select>
        } else {
          <select _={ fmt.Sprintf(phaseScript, i, i, i) }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            id={ fmt.Sprintf("phase-%d", i) } name={ fmt.Sprintf("phase-%d", i) } hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="load" hx-include="previous #job" disabled>
            <option value=""></option>
          </select>
        }
      }
    } else {
      for i := 1; i < 6; i++ {
        if i == 1 {
          <select _={ fmt.Sprintf(phaseScript, i, i, i) }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            id={ fmt.Sprintf("phase-%d", i) } name={ fmt.Sprintf("phase-%d", i) } hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="load" hx-include="previous #job">
            <option value=""></option>
          </select>
        } else {
          <select _={ fmt.Sprintf(phaseScript, i, i, i) }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            id={ fmt.Sprintf("phase-%d", i) } name={ fmt.Sprintf("phase-%d", i) } hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="load" hx-include="previous #job" disabled>
            <option value=""></option>
          </select>
        }
      }
    }
}

templ Employees(employees map[int]*TimeCardEmployeeForm, phases map[int]string, phaseCount int, certified string) {
  <input _="on employeeAdded from <body/> increment my value end on employeeRemoved decrement my value by 1 end"
    type="hidden" id="employeecount" name="employeecount" value={ fmt.Sprintf("%d", len(employees)) }>
  <input _="on employeeAdded from <body/> increment my value by 1" type="hidden" id="employeerownumber" name="employeerownumber" value={ fmt.Sprintf("%d",len(employees)) }>
  <div class="grid grid-cols-subgrid col-start-1 col-span-9 rounded-b-md rounded-tr-md p-2 bg-stone-300">
  for i, employee := range employees {
    @EmployeeRow(employee, i, phaseCount, phases, certified)
  }
    <button type="button" class="hover:bg-stone-700 hover:text-yellow-300 rounded-md p-2 bg-yellow-300 text-stone-700 m-1" 
      hx-get="/tc/addemployeerow" hx-swap="beforebegin" hx-include="#employeerownumber, #phasecount, #certified, #state">Add Employee</button>
  </div>
}

templ EmployeeRow(employee *TimeCardEmployeeForm, count, phaseCount int, phases map[int]string, certified string) {
  if employee.Selected() {
      <div class="grid grid-cols-subgrid col-start-1 col-span-9 rounded-md">
        <select id={ fmt.Sprintf("employee-%d", count) } name={ fmt.Sprintf("employee-%d", count) }
          _={ employeeSelectScript } 
          class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500" 
          hx-get="/tc/employeeselect" hx-swap="beforeend" hx-trigger="load">
          <option value={ employee.EmpNameString }>{ employee.EmpNameString }</option>
        </select>
        if certified == "Y" {
          <select id={ fmt.Sprintf("employee-%d-class", count) } name={ fmt.Sprintf("employee-%d-class", count) } 
            _={ employeeClassScript } 
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/classes" hx-trigger="getClasses, load" hx-include="#job"
            certified-selected="y"
            employee-selected="y">
            <option value={ employee.Class }>{ employee.Class }</option>
          </select>
          <select id={ fmt.Sprintf("employee-%d-earn", count) } name={ fmt.Sprintf("employee-%d-earn", count) }
            _={ employeeEarnScript }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/earncode" hx-trigger="getEarnCodes, load" hx-params="none"
            job-selected="y"
            employee-selected="y">
            <option value={ employee.Earn }>{ employee.Earn }</option>
          </select>
        } else {
          <select id={ fmt.Sprintf("employee-%d-class", count) } name={ fmt.Sprintf("employee-%d-class", count) } 
            _={ employeeClassScript } 
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/classes" hx-trigger="getClasses" hx-include="#job"
            certified-selected="n"
            employee-selected="y"
            disabled>
            <option value=""></option>
          </select>
          <select id={ fmt.Sprintf("employee-%d-earn", count) } name={ fmt.Sprintf("employee-%d-earn", count) }
            _={ employeeEarnScript }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/earncode" hx-trigger="getEarnCodes, load" hx-params="none"
            job-selected="y"
            employee-selected="y">
            <option value={ employee.Earn }>{ employee.Earn }</option>
          </select>
        }
        for i := 1; i < 6; i++ {
          if i <= phaseCount {
            if employee.Hours[i] != 0.00 {
              <input id={ fmt.Sprintf("employee-%d-hours-%d", count, i) } name={ fmt.Sprintf("employee-%d-hours-%d", count, i) } 
              _={ fmt.Sprintf(employeeHoursScript, i, i) }
              class="rounded-md border-2 border-stone-300 text-lg text-center p-1 hover:border-stone-500 disabled:bg-red-100/75 invalid:border-red-600"
              type="number" max="14" step=".5"
              employee-selected="y"
              phase-selected="y"
              value={ fmt.Sprintf("%.2f", employee.Hours[i]) }>
            } else {
              <input id={ fmt.Sprintf("employee-%d-hours-%d", count, i) } name={ fmt.Sprintf("employee-%d-hours-%d", count, i) } 
                _={ fmt.Sprintf(employeeHoursScript, i, i) }
                class="rounded-md border-2 border-stone-300 text-lg text-center p-1 hover:border-stone-500 disabled:bg-red-100/75 invalid:border-red-600"
                type="number" max="14" step=".5"
                employee-selected="y"
                phase-selected="y"
                value="">
            }
          } else {
            <input id={ fmt.Sprintf("employee-%d-hours-%d", count, i) } name={ fmt.Sprintf("employee-%d-hours-%d", count, i) } 
              _={ fmt.Sprintf(employeeHoursScript, i, i) }
              class="rounded-md border-2 border-stone-300 text-lg text-center p-1 hover:border-stone-500 disabled:bg-red-100/75 invalid:border-red-600"
              type="number" max="14" step=".5"
              disabled="disabled"
              employee-selected="y"
              phase-selected="n">
          }
        }
        <div _="on click remove the closest parent <div/> then send employeeRemoved to #employeecount" 
          class="hover:bg-red-600 hover:text-stone-50 rounded-full text-center p-1 place-self-center font-semibold font-mono w-8 bg-stone-100 text-stone-700">X</div>
      </div>
  } else {
      <div class="grid grid-cols-subgrid col-start-1 col-span-9 rounded-md">
        <select id={ fmt.Sprintf("employee-%d", count) } name={ fmt.Sprintf("employee-%d", count) }
          _={ employeeSelectScript } 
          class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500" 
          hx-get="/tc/employeeselect" hx-swap="beforeend" hx-trigger="load">
          <option value=""></option>
        </select>
        if certified == "Y" {
          <select id={ fmt.Sprintf("employee-%d-class", count) } name={ fmt.Sprintf("employee-%d-class", count) } 
            _={ employeeClassScript } 
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/classes" hx-trigger="getClasses" hx-include="#job"
            certified-selected="y"
            disabled>
            <option value=""></option>
          </select>
          <select id={ fmt.Sprintf("employee-%d-earn", count) } name={ fmt.Sprintf("employee-%d-earn", count) }
            _={ employeeEarnScript }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/earncode" hx-trigger="getEarnCodes" hx-params="none"
            job-selected="y"
            disabled>
            <option value=""></option>
          </select>
        } else if certified == "N" {
          <select id={ fmt.Sprintf("employee-%d-class", count) } name={ fmt.Sprintf("employee-%d-class", count) } 
            _={ employeeClassScript } 
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/classes" hx-trigger="getClasses" hx-include="#job"
            certified-selected="n"
            disabled>
            <option value=""></option>
          </select>
          <select id={ fmt.Sprintf("employee-%d-earn", count) } name={ fmt.Sprintf("employee-%d-earn", count) }
            _={ employeeEarnScript }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/earncode" hx-trigger="getEarnCodes" hx-params="none"
            job-selected="y"
            disabled>
            <option value=""></option>
          </select>
        } else {
          <select id={ fmt.Sprintf("employee-%d-class", count) } name={ fmt.Sprintf("employee-%d-class", count) } 
            _={ employeeClassScript } 
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/classes" hx-trigger="getClasses" hx-include="#job"
            certified-selected="n"
            disabled>
            <option value=""></option>
          </select>
          <select id={ fmt.Sprintf("employee-%d-earn", count) } name={ fmt.Sprintf("employee-%d-earn", count) }
            _={ employeeEarnScript }
            class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
            hx-get="/tc/earncode" hx-trigger="getEarnCodes" hx-params="none"
            job-selected="n"
            disabled>
            <option value=""></option>
          </select>
        }
        for i := 1; i < 6; i++ {
          if i <= phaseCount {
            <input id={ fmt.Sprintf("employee-%d-hours-%d", count, i) } name={ fmt.Sprintf("employee-%d-hours-%d", count, i) } 
              _={ fmt.Sprintf(employeeHoursScript, i, i) }
              class="rounded-md border-2 border-stone-300 text-lg text-center p-1 hover:border-stone-500 disabled:bg-red-100/75 invalid:border-red-600"
              type="number" max="14" step=".5"
              disabled="disabled"
              employee-selected="n"
              phase-selected="y">
          } else {
            <input id={ fmt.Sprintf("employee-%d-hours-%d", count, i) } name={ fmt.Sprintf("employee-%d-hours-%d", count, i) } 
              _={ fmt.Sprintf(employeeHoursScript, i, i) }
              class="rounded-md border-2 border-stone-300 text-lg text-center p-1 hover:border-stone-500 disabled:bg-red-100/75 invalid:border-red-600"
              type="number" max="14" step=".5"
              disabled="disabled"
              employee-selected="n"
              phase-selected="n">
          }
        }
        <div _="on click remove the closest parent <div/> then send employeeRemoved to #employeecount" 
         class="hover:bg-red-600 hover:text-stone-50 rounded-full text-center p-1 place-self-center font-semibold font-mono w-8 bg-stone-100 text-stone-700">X</div>
      </div>
  }
}


templ Equipment(equipment [][]string, phaseCount int) {
  <input _="on equipmentAdded from <body/> increment my value by 1 end on equipmentRemoved decrement my value by 1 end" type="hidden" id="equipmentcount" name="equipmentcount" value={ fmt.Sprintf("%d",len(equipment)) }>
  <input _="on equipmentAdded from <body/> increment my value by 1" type="hidden" id="equipmentrownumber" name="equipmentrownumber" value={ fmt.Sprintf("%d",len(equipment)) }>
  <div class="grid grid-cols-subgrid col-start-1 col-span-9 rounded-b-md rounded-tr-md p-2 bg-stone-300">
    for i, equip := range equipment {
      @EquipmentRow(equip, i, phaseCount)
    }
    <button type="button" class="hover:bg-stone-700 hover:text-yellow-300 rounded-md p-2 bg-yellow-300 text-stone-700 m-1" hx-get="/tc/addequipmentrow" hx-swap="beforebegin" hx-include="#equipmentrownumber, #phasecount">Add Equipment</button>
  </div>
}

templ EquipmentRow(equipmentHours []string, count, phaseCount int) {
    <div class="grid grid-cols-subgrid col-start-1 col-span-9 rounded-md">
      <select id={ fmt.Sprintf("equipment%d", count) } name={ fmt.Sprintf("equipment%d", count) }
        _={ equipmentSelectScript }
        class="grid grid-cols-subgrid col-start-1 col-span-3 rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500" 
        hx-get="/tc/equipmentselect" hx-swap="beforeend" hx-trigger="load" hx-params="none">
        <option value=""></option>
      </select>
      for i := 1; i < 6; i++ {
        if i <= phaseCount {
          <input id={ fmt.Sprintf("equipment%dhours%d", count, i) } name={ fmt.Sprintf("equipment%dhours%d", count, i) }
            _={ fmt.Sprintf(equipmentHoursScript, i, i) }
            class="rounded-md border-2 border-stone-300 text-lg text-center p-1 hover:border-stone-500 disabled:bg-red-100/75"
            type="number" max="14" step=".50"
            disabled="disabled"
            equipment-selected="n"
            phase-selected="y">
        } else {
          <input id={ fmt.Sprintf("equipment%dhours%d", count, i) } name={ fmt.Sprintf("equipment%dhours%d", count, i) }
            _={ fmt.Sprintf(equipmentHoursScript, i, i) }
            class="rounded-md border-2 border-stone-300 text-lg text-center p-1 hover:border-stone-500 disabled:bg-red-100/75"
            type="number" max="14" step=".50"
            disabled="disabled"
            equipment-selected="n"
            phase-selected="n">
        }
      }
      <div _="on click remove the closest parent <div/> then send equipmentRemoved to #equipmentcount" class="hover:bg-red-600 hover:text-stone-50 rounded-full text-center p-1 place-self-center font-semibold font-mono w-8 bg-stone-100 text-stone-700">X</div>
    </div>
}

templ Notes() {
  <div class="col-start-1 col-span-9 rounded-b-md rounded-tr-md p-3 bg-stone-300">
    <textarea id="dailyNotes" name="dailyNotes" rows="4" class="w-full h-full rounded-md p-4 border-2 border-stone-300 hover:border-stone-500"></textarea>
  </div>
}

templ ViewTimeCard(form *TimeCardForm) {
    <form class="h-full max-h-full w-full max-w-full overflow-hidden">
      <div class="grid gap-y-6 grid-cols-timeEntry grid-rows-timeEntry h-full max-h-full w-full max-w-full overflow-y-hidden overflow-x-auto p-4 bg-stone-100 rounded-md">
        <div id="header" class="grid grid-cols-subgrid grid-rows-3 gap-0 col-start-1 col-span-9 row-start-1 row-span-1">
          <div class="col-start-1 row-start-1 col-span-1 grid grid-cols-[theme(space.16)_1fr] bg-stone-300 p-1 pt-2 rounded-tl-md" id="dayofweek-div" name="dayofweek-div" hx-get="/utils/weekday" hx-include="#workdate" hx-trigger="dateSelected">
            @DayofWeek(form.WorkDate)
          </div>
          <div class="col-start-1 row-start-2 col-span-1 grid grid-cols-[theme(space.16)_1fr] bg-stone-300 p-1" hx-get="/tc/jobselect" hx-swap="beforeend" hx-target="#job" hx-trigger="load once">
            if !form.WorkDate.IsZero() {
                <label for="workdate" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">Date</label>
                <input type="date" id="workdate" class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500" name="workdate" value={ form.WorkDate.Format("2006-01-02") } _="on input send dateSelected to #dayofweek-div">
            } else {
                <label for="workdate" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">Date</label>
                <input type="date" id="workdate" class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500" name="workdate" value="" _="on input send dateSelected to #dayofweek-div">
            }
          </div>
          <div class="col-start-2 col-span-1 row-start-1 row-span-2 bg-stone-300">
          </div>
          <div id="jobname" name="jobname" class="col-start-3 row-start-1 row-span-2 grid grid-cols-subgrid grid-rows-subgrid bg-stone-300 col-span-5 space-x-2">
          if form.Job != nil {
              <label for="job" class="col-start-1 row-start-2 justify-self-end self-center font-bold text-stone-700 text-lg">Job:</label>
              <select _="on change send jobSelected to #phases then send getInfo to me"
                class="col-start-2 col-span-4 row-start-2 rounded-md border-2 border-stone-300 text-lg p-1 m-1 hover:border-stone-500"
                id="job" name="job"  class="flex" hx-get="/tc/jobinfo" hx-target="#jobinfo" hx-trigger="getInfo">
                <option value={ form.Job.SelectValue() } selected>{ form.Job.SelectString() }</option>
              </select>
          } else {
              <label for="job" class="col-start-1 row-start-2 justify-self-end self-center font-bold text-stone-700 text-lg">Job</label>
              <select _="on change send jobSelected to #phases then send getInfo to me"
                class="col-start-2 col-span-4 row-start-2 rounded-md border-2 border-stone-300 text-lg p-1 m-1 hover:border-stone-500"
                id="job" name="job"  class="flex" hx-get="/tc/jobinfo" hx-target="#jobinfo" hx-trigger="getInfo">
                <option value="" selected></option>
              </select>
          }
          </div>
          <div id="jobinfo" name="jobinfo" class="grid col-start-8 col-span-2 row-start-1 row-span-2 grid-rows-subgrid grid-cols-[1fr_theme(space.16)] bg-stone-300 pr-2 rounded-tr-md">
            @JobStateCertified(form.Job)
          </div>
          <div class="col-start-1 grid grid-cols-subgrid col-span-9 row-start-3 bg-stone-300 rounded-b-md">
            <div class="col-start-1 col-span-3 grid justify-items-end items-center">
              <p class="font-bold text-stone-700 text-lg">Phases</p>
            </div>
            <div id="phases" name="phases" class="grid grid-cols-subgrid col-start-4 col-span-5 pb-2 pl-2 pr-2 pt-1" hx-get="/tc/clearphases" hx-swap="innerHTML" hx-trigger="jobSelected">
              @Phases(form.Phases)
            </div>
          </div>
        </div>

        <div id="hours" name="hours" class="grid grid-cols-subgrid grid-rows-hours gap-y-6 col-start-1 h-full max-h-full w-full max-w-full col-span-9 row-start-2 row-span-1 overflow-x-hidden overflow-y-auto">
          <div id="employeeDetail" name="employeeDetail" class="col-start-1 grid grid-cols-subgrid col-span-9 row-start-1 min-h-0">
            <div class="grid grid-cols-subgrid col-start-1 col-span-3 items-end justify-items-center rounded-t-md bg-stone-300 pt-2">
              <p class="font-bold text-stone-700 text-lg">Employee</p>
              <p class="font-bold text-stone-700 text-lg">Class</p>
              <p class="font-bold text-stone-700 text-lg">Earn</p>
            </div>
            if form.Job != nil {
              @Employees(form.Employees, form.Phases, len(form.Phases), form.Job.Certified)
            } else {
              @Employees(form.Employees, form.Phases, len(form.Phases), "")
            }
          </div>

          <div id="equipmentDetail" name="equipmentDetail" class="col-start-1 grid grid-cols-subgrid col-span-9 row-start-2 min-h-0">
            <div class="col-start-1 grid grid-cols-subgrid col-span-3 items-end justify-items-center bg-stone-300 rounded-t-md pt-2">
              <p class="font-bold text-stone-700 text-lg">Equipment</p>
            </div>
            @Equipment(form.Equipment, len(form.Phases))
          </div>
          <div id="notes" name="notes" class="col-start-1 col-span-9 row-start-3 min-h-0 grid grid-cols-subgrid">
            <div class="col-start-1 grid grid-cols-subgrid col-span-3 items-end justify-items-center bg-stone-300 rounded-t-md pt-2">
              <p class="font-bold text-stone-700 text-lg">Notes</p>
            </div>
            @Notes()
          </div>
          <div class="col-start-1 col-span-9 row-start-4 grid grid-cols-3 gap-x-20 min-h-0 pl-16 pr-16">
            <button type="button" class="col-start-1 hover:bg-sky-600 hover:text-stone-50 bg-sky-100 text-stone-400 rounded-md p-2 w-full text-lg font-semibold text-center"
              hx-put="" hx-swap="none">Save</button>
            <button type="button" class="col-start-2 bg-green-100 text-stone-400 hover:bg-green-600 hover:text-stone-50 rounded-md p-2 w-full text-lg font-semibold text-center">Submit</button>
            <button type="button" class="col-start-3 bg-red-100 text-stone-400 hover:bg-red-600 hover:text-stone-50 rounded-md p-2 w-full text-lg font-semibold text-center"
              hx-delete="" hx-target="#contents" hx-swap="innerHTML">Delete</button>
          </div>
        </div>
      </div>
    </form>
}

templ NewPhases() {
    <input _={ phaseCountScript } type="hidden" id="phasecount" name="phasecount" value="0">
    for i := 1; i < 6; i++ {
        if i == 1 {
            <select id={ fmt.Sprintf("phase-%d", i) } name={ fmt.Sprintf("phase-%d", i) }
              _={ fmt.Sprintf(phaseScript, i, i, i) }
              class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
              hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="load" hx-include="previous #job">
              <option value=""></option>
            </select>
        } else {
            <select id={ fmt.Sprintf("phase-%d", i) } name={ fmt.Sprintf("phase-%d", i) }
              _={ fmt.Sprintf(phaseScript, i, i, i) }
              class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
              hx-get="/tc/phaseselect" hx-swap="beforeend" hx-trigger="load" hx-include="previous #job" disabled>
              <option value=""></option>
            </select>
        }
    }
}

templ NewEmployeeRow() {
    <div class="grid grid-cols-subgrid col-start-1 col-span-9 rounded-md">
    <select id="employee-1" name="employee-1"
      _={ employeeSelectScript } 
      class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500" 
      hx-get="/tc/employeeselect" hx-swap="beforeend" hx-trigger="load" hx-params="none">
      <option value=""></option>
    </select>
    <select id="employee-1-class" name="employee-1-class"
      _={ employeeClassScript } 
      class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
      hx-get="/tc/classes" hx-trigger="getClasses" hx-include="#job"
      disabled>
      <option value=""></option>
    </select>
    <select id="employee-1-earn" name="employee-1-earn"
      _={ employeeEarnScript }
      class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500 disabled:bg-red-100"
      hx-get="/tc/earncode" hx-trigger="getEarnCodes" hx-params="none"
      disabled>
      <option value=""></option>
    </select>
    for i := 1; i < 6; i++ {
        <input id={ fmt.Sprintf("employee-1-hours-%d", i) } name={ fmt.Sprintf("employee-1-hours-%d", i) } 
          _={ fmt.Sprintf(employeeHoursScript, i, i) }
          class="rounded-md border-2 border-stone-300 text-lg text-center p-1 hover:border-stone-500 disabled:bg-red-100/75 invalid:border-red-600"
          type="number" max="14" step=".5"
          disabled="disabled"
          employee-selected="n"
          phase-selected="n">
    }
      <div _="on click remove the closest parent <div/> then send employeeRemoved to #employeecount" class="hover:bg-red-600 hover:text-stone-50 rounded-full text-center p-1 place-self-center font-semibold font-mono w-8 bg-stone-100 text-stone-700">X</div>
    </div>
}

templ NewEquipmentRow() {
    <div class="grid grid-cols-subgrid col-start-1 col-span-9 rounded-md">
      <select id="equipment1" name="equipment1"
        _={ equipmentSelectScript }
        class="grid grid-cols-subgrid col-start-1 col-span-3 rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500" 
        hx-get="/tc/equipmentselect" hx-swap="beforeend" hx-trigger="load" hx-params="none">
        <option value=""></option>
      </select>
      for i := 1; i < 6; i++ {
          <input id={ fmt.Sprintf("equipment1hours%d", i) } name={ fmt.Sprintf("equipment1hours%d", i) }
            _={ fmt.Sprintf(equipmentHoursScript, i, i) }
            class="rounded-md border-2 border-stone-300 text-lg text-center p-1 hover:border-stone-500 disabled:bg-red-100/75"
            type="number" max="14" step=".50"
            disabled="disabled"
            equipment-selected="n"
            phase-selected="n">
      }
      <div _="on click remove the closest parent <div/> then send equipmentRemoved to #equipmentcount" class="hover:bg-red-600 hover:text-stone-50 rounded-full text-center p-1 place-self-center font-semibold font-mono w-8 bg-stone-100 text-stone-700">X</div>
    </div>
}

templ ViewNewTimeCard() {
    <form class="h-full max-h-full w-full max-w-full overflow-hidden">
      <div class="grid gap-y-6 grid-cols-timeEntry grid-rows-timeEntry h-full max-h-full w-full max-w-full overflow-y-hidden overflow-x-auto p-4 bg-stone-100 rounded-md">
        <div id="header" class="grid grid-cols-subgrid grid-rows-3 gap-0 col-start-1 col-span-9 row-start-1 row-span-1">
          <div id="dayofweek-div" name="dayofweek-div"
            class="col-start-1 row-start-1 col-span-1 grid grid-cols-[theme(space.16)_1fr] bg-stone-300 p-1 pt-2 rounded-tl-md" 
            hx-get="/utils/weekday" hx-include="#workdate" hx-trigger="dateSelected">
            <label for="dayofweek" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">Day</label>
            <input type="text" id="dayofweek" class="rounded-md border-2 border-stone-300 text-lg p-1 bg-stone-100 w-full" name="dayofweek" disabled>
          </div>
          <div class="col-start-1 row-start-2 col-span-1 grid grid-cols-[theme(space.16)_1fr] bg-stone-300 p-1" 
            hx-get="/tc/jobselect" hx-swap="beforeend" hx-target="#job" hx-trigger="load once">
            <label for="workdate" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">Date</label>
            <input type="date" id="workdate" name="workdate" 
              _="on input send dateSelected to #dayofweek-div"
              class="rounded-md border-2 border-stone-300 text-lg p-1 hover:border-stone-500" value="">
          </div>
          <div class="col-start-2 col-span-1 row-start-1 row-span-2 bg-stone-300">
          </div>
          <div id="jobname" name="jobname" class="col-start-3 row-start-1 row-span-2 grid grid-cols-subgrid grid-rows-subgrid bg-stone-300 col-span-5 space-x-2">
            <label for="job" class="col-start-1 row-start-2 justify-self-end self-center font-bold text-stone-700 text-lg">Job</label>
            <select _="on change send jobSelected to #phases then send getInfo to me"
                class="col-start-2 col-span-4 row-start-2 rounded-md border-2 border-stone-300 text-lg p-1 m-1 hover:border-stone-500"
                id="job" name="job"  class="flex" hx-get="/tc/jobinfo" hx-target="#jobinfo" hx-trigger="getInfo">
                <option value="" selected></option>
            </select>
          </div>
          <div id="jobinfo" name="jobinfo" class="grid col-start-8 col-span-2 row-start-1 row-span-2 grid-rows-subgrid grid-cols-[1fr_theme(space.16)] bg-stone-300 pr-2 rounded-tr-md">
            <input type="hidden" id="certified" name="certified" value="">
            <input type="hidden" id="state" name="state" value="">
            <div class="col-start-1 col-span-2 row-start-1 row-span-1 grid grid-cols-subgrid p-1 m-1">
              <label for="statedisplay" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">State</label>
              <input type="text" id="statedisplay" name="statedisplay" class="p-1 bg-stone-100 w-full text-lg rounded-md text-center" disabled>
            </div>
            <div class="col-start-1 col-span-2 row-start-2 row-span-2 grid grid-cols-subgrid p-1 m-1">
              <label for="certifieddisplay" class="m-1 justify-self-end self-center font-bold text-stone-700 text-lg">Certified</label>
              <input type="text" id="certifieddisplay" name="certifieddisplay" 
                class="p-1 bg-stone-100 w-full text-lg rounded-md text-center"
                disabled>
            </div>
          </div>
          <div class="col-start-1 grid grid-cols-subgrid col-span-9 row-start-3 bg-stone-300 rounded-b-md">
            <div class="col-start-1 col-span-3 grid justify-items-end items-center">
              <p class="font-bold text-stone-700 text-lg">Phases</p>
            </div>
            <div id="phases" name="phases" class="grid grid-cols-subgrid col-start-4 col-span-5 pb-2 pl-2 pr-2 pt-1" hx-get="/tc/clearphases" hx-swap="innerHTML" hx-trigger="jobSelected">
              @NewPhases()
            </div>
          </div>
        </div>

        <div id="hours" name="hours" class="grid grid-cols-subgrid grid-rows-hours gap-y-6 col-start-1 h-full max-h-full w-full max-w-full col-span-9 row-start-2 row-span-1 overflow-x-hidden overflow-y-auto">
          <div id="employeeDetail" name="employeeDetail" class="col-start-1 grid grid-cols-subgrid col-span-9 row-start-1 min-h-0">
            <div class="grid grid-cols-subgrid col-start-1 col-span-3 items-end justify-items-center rounded-t-md bg-stone-300 pt-2">
              <p class="font-bold text-stone-700 text-lg">Employee</p>
              <p class="font-bold text-stone-700 text-lg">Class</p>
              <p class="font-bold text-stone-700 text-lg">Earn</p>
            </div>
            <input _="on employeeAdded from <body/> increment my value end on employeeRemoved decrement my value by 1 end"
            type="hidden" id="employeecount" name="employeecount" value="1">
            <input _="on employeeAdded from <body/> increment my value by 1" type="hidden" id="employeerownumber" name="employeerownumber" value="1">
            <div class="grid grid-cols-subgrid col-start-1 col-span-9 rounded-b-md rounded-tr-md p-2 bg-stone-300">
              @NewEmployeeRow()
              <button type="button" class="hover:bg-stone-700 hover:text-yellow-300 rounded-md p-2 bg-yellow-300 text-stone-700 m-1" 
                hx-get="/tc/addemployeerow" hx-swap="beforebegin" hx-include="#employeerownumber, #phasecount, #certified, #state">Add Employee</button>
            </div>
          </div>

          <div id="equipmentDetail" name="equipmentDetail" class="col-start-1 grid grid-cols-subgrid col-span-9 row-start-2 min-h-0">
            <div class="col-start-1 grid grid-cols-subgrid col-span-3 items-end justify-items-center bg-stone-300 rounded-t-md pt-2">
              <p class="font-bold text-stone-700 text-lg">Equipment</p>
            </div>
            <input _="on equipmentAdded from <body/> increment my value by 1 end on equipmentRemoved decrement my value by 1 end" type="hidden" id="equipmentcount" name="equipmentcount" value="0">
            <input _="on equipmentAdded from <body/> increment my value by 1" type="hidden" id="equipmentrownumber" name="equipmentrownumber" value="1">
            <div class="grid grid-cols-subgrid col-start-1 col-span-9 rounded-b-md rounded-tr-md p-2 bg-stone-300">
              @NewEquipmentRow()
              <button type="button" class="hover:bg-stone-700 hover:text-yellow-300 rounded-md p-2 mt-1 bg-yellow-300 text-stone-700 m-1" 
                hx-get="/tc/addequipmentrow" hx-swap="beforebegin" hx-include="#equipmentrownumber, #phasecount">Add Equipment</button>
            </div>
          </div>
          <div id="notes" name="notes" class="col-start-1 col-span-9 row-start-3 min-h-0 grid grid-cols-subgrid">
            <div class="col-start-1 grid grid-cols-subgrid col-span-3 items-end justify-items-center bg-stone-300 rounded-t-md pt-2">
              <p class="font-bold text-stone-700 text-lg">Notes</p>
            </div>
            @Notes()
          </div>
          <div class="col-start-1 col-span-9 row-start-4 grid grid-cols-3 gap-x-20 min-h-0 pl-16 pr-16">
            <button type="button" class="col-start-1 hover:bg-sky-600 hover:text-stone-50 bg-sky-100 text-stone-400 rounded-md p-2 w-full text-lg font-semibold text-center"
              hx-put="" hx-swap="none">Save</button>
            <button type="button" class="col-start-2 bg-green-100 text-stone-400 hover:bg-green-600 hover:text-stone-50 rounded-md p-2 w-full text-lg font-semibold text-center">Submit</button>
            <button type="button" class="col-start-3 bg-red-100 text-stone-400 hover:bg-red-600 hover:text-stone-50 rounded-md p-2 w-full text-lg font-semibold text-center"
              hx-delete="" hx-swap="none">Delete</button>
          </div>
        </div>
      </div>
    </form>
}